body {
  margin: 0;
  background-color: #edeeef;
;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'),
  url('./fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  src: local('Cinzel'),
  url('./fonts/Cinzel-Regular.ttf') format('truetype');
}

ul{
  font-family: "Quicksand Light", sans-serif;
  text-transform: uppercase;
}

h2, button {
  font-family: Cinzel, sans-serif;
  font-size: 14px;
}

h1{
  font-size: 20px;
  font-family: Cinzel, sans-serif;
  color: #111111;
}

p {
  font-family: Quicksand, sans-serif;
}