body {
  margin: 0;
;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'),
  url('./fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  src: local('Cinzel'),
  url('./fonts/Cinzel-Regular.ttf') format('truetype');
}

ul{
  font-family: "Quicksand Light", sans-serif;
  text-transform: uppercase;
}

h1, h2, p, button {
  font-family: "Open Sans Light",sans-serif;
  font-size: 14px;
}

.free-shipping {
  background-color: #f7b78f;
  height: 4vh;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Cinzel', sans-serif;
  font-size: 15px;
  padding: 5px;
  margin: 0;
}