* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 20vh;
    background-color: #BBEAA6;
}

main {
    background-color: ghostwhite;
    height: 190vh;
}

footer {
    background-color: #BBEAA6;
    height: 20vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

img {
    height: 250px;
    width: auto;
    text-align: center;
}

.button-bye {
    width: 60px;
    padding: 5px;
    border-radius: 8px;
    background-color: #9CCA82;
    border-style: none;
}

.footer-img {
    width: 140px;
    height: 30px;
}

.img-picaut-responsive {
    width: 100%;
    max-width: 300px;
text-align: center;
    margin: 50px;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 50px;
}

.container-picaut {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.mobile-view {
    display: none;
}

@media only screen and (min-width: 768px) {
    .container-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .container-picaut {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .mobile-view {
        display: block;
    }
}


@media only screen and (min-width: 1200px) {
    .container-products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    .container-picaut {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .mobile-view {
        display: block;
    }
}