ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #fcf3ed;
    text-transform: uppercase;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ff7926;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

li a:hover:not(.active) {
    border-bottom: 1px solid grey;
    color: #f7b78f;
}

.active {
    border-bottom: 2px solid #34B497;
    color: lightgrey;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-input {
    background-color: #becdd6;
    text-align: center;
    margin-left: 70px;
}

input {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border: solid 1px black;
    width: 250px;
}

.nav-blank{
    background-color: #fcf3ed;
}
