<style>
body{
    background-color: antiquewhite;
}
article{
    width: 30%;
    float: left;
    font-family: "Palatino Linotype";
}
section {
    width: 60em;
    margin-bottom: 1em;
    padding: 1em;
    background-image: url("flowers.jpg");
    border-radius: 25px;
    font-family: "Palatino Linotype";
}
section:after {
    content: "";
    display: table;
    clear: both;
}

#column1{
    background-color: antiquewhite;
    width: 95%;
    padding: 1em
}
</style>