* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: white;
    max-width: 1000px;
    margin: 5em auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1em;
    border: 1px solid grey;
}

#navbar {
    background-color: palevioletred;
    color: white;
    max-width: 1000px;
    margin: auto;
    padding: 1em;
    text-align: center;
    border: 1px solid grey;
}

#nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

ul {
    list-style-type: none;
}

main{
    max-width: 1000px;
    margin: auto;
    background-color: beige;
}

.header{
    text-align: center;
}

.container-album{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
}

.album{
    padding: 1em;
    border: 1px solid grey;
}

.img{
    width: 100px;
    height: 140px;
}

.shoppingcart{
    width: 30px;
    height: 40px;
}

button{
    background-color: steelblue;
    color: white;
    width: 120px;
    padding: 5px;
    border-radius: 15px;
}
#allAlbums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
}