footer {

    width: 100%;
    color: white;
    text-align: center;
    padding: 1px;
    border: 1px solid snow;
    border-radius: 5em;
    position: fixed;
    left: auto;
    right: auto;
    bottom: 0;
}