* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-footer {
    background-color: #BBEAA6;
    height: 20vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.footer-img{
    width: 140px;
    height: 30px;
}
