* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 20vh;
    background-color: #BBEAA6;
}

article {
    margin-bottom: 60px;
}

hr {
    width: 300px;
}

.free-shipping {
    background-color: #8DA778;
    height: 4vh;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5px;
    font-weight: bold;
}

.container-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.container-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 50px;
}

.mobile-view {
    display: none;
}

.img-picaut-responsive {
width: 150px;
    height: 100px;
}

.img-picaut {
    text-align: center;
}

.img-product {
    height: 150px;
    width: auto;
}

.button-bye {
    width: 60px;
    padding: 5px;
    border-radius: 8px;
    background-color: #9CCA82;
    border-style: none;
    font-family: "Quicksand Light", sans-serif;
}

.varukorg {
    width: 90px;
    padding: 5px;
    border-radius: 8px;
    background-color: #9CCA82;
    border-style: none;

}

.text-picaut {
    margin: 10px;
    font-family: "Quicksand Light", sans-serif;
}

@media only screen and (min-width: 768px) {
    .container-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .mobile-view {
        display: none;
    }

    .img-product {
        height: 180px;
        width: auto;
    }

    .container-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    hr {
        width: 550px;
    }
}


@media only screen and (min-width: 1200px) {
    .container-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .mobile-view {
        display: block;
    }

    .img-product {
        height: 250px;
        width: auto;
    }

    .container-products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .img-picaut-responsive {
        width: 350px;
        height: 250px;
    }
    hr {
        width: 1000px;
    }
}