/* Mobile First */
* {
    box-sizing: border-box;
}

h4 {
    text-align: center;
    background-color: lightgray;
}
main{
    margin-bottom: 20px;
}

.header {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.fun-fact{
    text-align: center;
}

.grid-container-about {
    display: grid;
    background-color: white;
    border-radius: 15px;
    border: solid 1px black;
    padding: 1em;
    column-gap: 1em;
    margin: 1em 1em;
    grid-template-columns: repeat(1, 1fr);
}

.img-me{
    text-align: center;
}
.img-responsive {
    width: 50%;
    max-width: 500%;
}

@media only screen and (min-width: 768px) {
    .grid-container-about {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .grid-container-me {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .grid-container-about {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin-right: 15em;
        margin-left: 15em;

    }
    .grid-container-me {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 15em;
        margin-left: 15em;
    }
}