/* Mobile First */
* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
    background-color: lightgray;
    padding: 0.5em;
}
h4{
    text-align: center;
}

.container {
    display: grid;
    background-color: white;
    margin: 30px;
    border-radius: 15px;
    border: solid 1px black;
    padding: 1em;
    column-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
}

.img-matte, .img-plugga {
    text-align: center;
}

.img-responsive {
    width: 35%;
    max-width: 500%;
}


@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(1fr);
        display: grid;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(1fr);
        display: grid;
        max-width: 60em;
    }
}