* {
    box-sizing: border-box;
}
.remove {
    display: none;
}

.container {
    background-color: white;
    margin: 30px;
    border: solid 1px black;
    padding: 1em;
    border-radius: 15px;
}

.color-cell{
    background-color: lightslategray;
}

h2{
    color: white;
}
main{
    margin-bottom: 70px;
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

@media only screen and (min-width: 768px) {
    .remove{
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin-right: 15em;
        margin-left: 15em;
    }
}

