* {
    box-sizing: border-box;
}
.container {
    display: grid;
    background-color: white;
    margin: 30px;
    border: solid 1px black;
    padding: 1em;
    border-radius: 15px;
    column-gap: 1em;
    text-wrap: unset;
    grid-template-columns: repeat(1, 1fr);
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

@media only screen and (min-width: 768px) {
    .container {
        background-color: darkorchid;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        background-color: pink;
        max-width: 70em;
    }
}

