/* Mobile First */

.container {
    display: grid;
    background-color: white;
    margin: 30px;
    border: solid 1px black;
    padding: 0.5em;
    grid-template-columns: repeat(1fr);
}
img {
    text-align: center;
}
.img-hakunamatata{
    text-align: center;
}

.img-responsive {
    width: 15%;
    max-width: 500px;
}

@media only screen and (min-width: 768px) {
    .container {
        background-color: steelblue;
        grid-template-columns: repeat(1fr);
        display: grid;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        background-color: steelblue;
        grid-template-columns: repeat(1fr);
        display: grid;
    }
}