h3{
    text-align: center;
    background-color: lightgray;
}
main{
    margin-bottom: 20%;
}

img {
    text-align: center;
}

.container {
    display: grid;
    background-color: white;
    border: solid 1px black;
    margin: 30px;
    padding: 1em;
    border-radius: 15px;
    grid-template-columns: repeat(0,1fr);
}

.img-hakunamatata{
    text-align: center;
}

.img-responsive {
    width: 15%;
    max-width: 500px;
}

@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        margin-right: 20em;
        margin-left: 20em;
    }
}