#navbar {
    position: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

.navbar-item {
    float: contour;
}

.navbar-link {
    display: block;
    color: black;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 0.84em 1em;
    text-decoration: none;
}

.navbar-link:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: navajowhite;
}

@media only screen and (min-width: 768px) {

    .navbar-item {
        display: inline-block;
    }

    #navbar {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {

}