.toDoContent {
    background-color: #b6bfc6;
    margin: 150px 500px;
    width: 600px;
    text-align: center;
    border-radius: 15px;
    height: 400px;
}

.input{
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    border: solid 1px grey;
    margin-bottom: 10px;
}

.button {
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 100px;
    cursor: pointer;
}

.toDoText{
    padding-top: 2em;
}

.ul {
    margin: 0;
    padding: 0;
}


.ulli {
    cursor: pointer;
    padding: 6px 8px 6px 10px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    text-align: left;
}

.ulli:nth-child(odd) {
    background: #f9f9f9;
}

.ulli:hover {
    background: #ddd;
}
