nav {
    text-transform: uppercase;
    padding: 32px 96px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 13fr 6fr;
}

.navbar-links {
    float: left;
    list-style: none;
    margin: 5px 0 0 50px;
    padding: 0;
    overflow: hidden;
}

.link-items {
    float: left;
}

.link-item-a {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link-item-a:hover {
    color: var(--primary-color)
}

.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.nav-button-grey {
    background-color: darkgrey;
    border-style: none;
    border-radius: 15px;
    width: 134px;
    height: 34px;
    text-transform: uppercase;
}

.nav-button-black {
    background-color: var(--primary-background-color);
    border-style: none;
    border-radius: 15px;
    width: 134px;
    height: 34px;
    text-transform: uppercase;
    color: whitesmoke;
}

.nav-button-grey:hover {
    color: lightgrey;
}

.nav-button-black:hover {
    color: lightgrey;
}