body {
    background-color: #AD8B73;
}

article {
    background-color: #CEAB93;
    margin: 150px 500px;
    width: 600px;
    text-align: center;
    border: 4px ridge whitesmoke;
    border-radius: 10px;
}

button {
    background-color: #967864;
}

p {
    background-color: whitesmoke;
    width: 550px;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 10px;
    font-family: "Quicksand Light", sans-serif;
}

p:hover {
    background-color: lightgrey;
}

section {
    background-color: #CEAB93;
    margin: 150px 500px;
    width: 600px;
    text-align: center;
    border: 4px ridge whitesmoke;
    border-radius: 10px;
}