.imgLogo {
    margin-top: 10px;
    width: 150px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fcf3ed;
}

.sectionLogo{
    margin-left: 150px;
}

.sectionSearch{
    margin-top: 50px;
    text-align: center;
}

.sectionCart{
    margin-top: 50px;
    text-align: center;
}