

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #9ba9b2;
}

.sectionLogo{
    margin-left: 150px;
}

.sectionSearch{
    margin-top: 50px;
    text-align: center;
}

.sectionCart{
    margin-top: 50px;
    text-align: center;
}

.imageCart{
    width: 18px;
}