.dropdownButton {
    background-color: #54626b;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: Cinzel, sans-serif;
    margin: 10px;
}

.dropdown-button:hover, .dropdown-button:focus {
    background-color: lightgrey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    position: absolute;
    background-color: white;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 500px;
}

.imageCart{
    width: 18px;
}

.buttonCartImg {
    background-color: #54626b;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
}

.hr {
    width: 350px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

.input {
    width: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: solid black 1px;
    padding: 5px;
}


.imageRemove{
    width: 15px;
    margin-top: 20px;
}

.totalSum {
    margin-left: 350px;
}

.closeButton {
    background-color: #ea3f3f;
    border-radius: 5px;
    border-style: none;
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}

.payButton {
    background-color: #7edd7e;
    border-radius: 5px;
    border-style: none;
    width: 90px;
    padding: 5px;
}

.endButton{
    margin-left: 320px;
    margin-bottom: 20px;
}