.gridContainer {
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;
    background-color: #edeeef;
}

.gridArticle{
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

h1{
    font-size: 30px;
    text-align: center;
}

hr{
    width: 500px;
}