* {
    box-sizing: content-box;
}

body {
    background-image: url(../img/tree.jpg);
    background-size: cover;
}

h3 {
    text-align: center;
    font-family: "Palatino Linotype", sans-serif;
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-wrap: normal;
}

.box {
    background-color: white;
    width: 70%;
    margin: auto auto 2em auto;
    border-radius: 15px;
    color: black;
    padding: 0.5em;
    word-wrap: anywhere;
    text-wrap: unset;
}

.box td, th {
    min-width: 50px;
}

.color-cell {
    background-color: darkseagreen;
}

.img-responsive {
    width: 70%;
    max-width: 500px;
}


@media only screen and (min-width: 992px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (min-width: 1200px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
    }
}
