body {
    background-image: url(../img/tree.jpg);
    background-size: 100%;
}

h3 {
    text-align: center;
    font-family: "Palatino Linotype";
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

.table1, .table2, .table3 {
    background-color: white;
    display: grid;
    width: 70%;
    grid-template-columns:1fr 1fr;
    margin: auto auto 2em auto;
    border-radius: 15px;
    color: black;
    padding: 1em;
}

.color-cell1, .color-cell2, .color-cell3 {
    background-color: darkseagreen;
}

.img-responsive {
    width: 70%;
    max-width: 500px;
}


@media only screen and (min-width: 768px) {
    .table1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .table2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .table3 {
        grid-template-columns: repeat(1, 1fr);
    }

}


@media only screen and (min-width: 992px) {
    .table1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .table2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .table3 {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (min-width: 1200px) {
    .table1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .table2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .table3 {
        grid-template-columns: repeat(1, 1fr);
    }
}
