h3 {
    text-align: center;
    background-color: steelblue;
}

main {
    margin-bottom: 70px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

.remove {
    display: none;
}

.container {
    background-color: white;
    margin: 30px;
    border: solid 1px black;
    padding: 1em;
    border-radius: 15px;
}

.img-responsive {
    width: 100%;
    max-width: 500%;
}

.color-cell {
    background-color: lightsteelblue;
}

@media only screen and (min-width: 768px) {
    .remove {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin-right: 15em;
        margin-left: 15em;
    }
}