#navbar {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    border: 1px solid snow;
    border-radius: 5em;
    width: 32%;

}
.navbar-item {
    float: left;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 0.84em 1em;
    text-decoration: none;


}

.navbar-link:hover:not(.active) {
    background-color: snow;
    color: black;
}
.active {
    background-color: darkseagreen;
}