#navbar {
    list-style-type: none;
    margin: auto auto 5em auto;
    border: 1px solid snow;
    border-radius: 5em;
    text-align: center;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}
.navbar-item {
    display: inline-block;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 0.84em 1em;
    text-decoration: none;
}

.navbar-link:hover:not(.active) {
    background-color: snow;
    color: black;
}
.active {
    background-color: darkseagreen;
}

@media only screen and (min-width: 992px) {
    navbar {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    navbar {
        grid-template-columns: repeat(2, 1fr);
    }
}