body {
    background-image: url(../img/tree.jpg);
    background-size: 100%;
}

section {
    width: 50em;
    padding: 10em 5em 20em;
    background-image: url("../img/marmor2.JPG");
    opacity: 35%;
    border-radius: 25px;
    margin: auto;
    margin-top: 2em;
}

article{
    width: 30%;
    float: left;
    font-family: "Palatino Linotype";
}