body {
    background-image: url(../img/tree.jpg);
    background-size: 100%;
}

section{
    background-image: url(../img/marmor.jpg);
    width: 60em;
    border-radius: 25px;
    padding: 1em;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

article{
    width: 33%;
    float: left;
    font-family: "Palatino Linotype";
}